{% extends 'layout.html' %}

{% block body %}
    <div style="margin: 20px;" class="jumbotron">
        <h1>News</h1>
        .
        <ul class="list-group">
            {% for article in articles %}
            <li class="list-group-item">

                <a href="article/{{article.id}}"><h2 style="font-size: 20px;">{{article.title}}</h2></a>
                
                <p>{{article.body}}</p>
                <br>
                <p>Author : <b>{{article.author}}</b></p>
                 <span>{{article.date}}</span>   
            </li>
            <br>
            <!-- <li class="list-group-item">{{article.body}}</li> -->
            {% endfor %}
            
           
        </ul>
        
       
    </div>
{% endblock %}