{% extends 'layout.html' %}

{% block body %}
    <div style="background-color: antiquewhite; padding: 200px; margin: 20px;" class="jumbotron text-center">
        <h1>Welcome to flask app</h1>
        
            <p class="leads">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sunt consequuntur voluptatibus ullam rem fugit dicta consectetur repellat ut, eligendi accusantium excepturi, impedit iure quidem? Dolorum quo laudantium reprehenderit rem!</p>
    
    </div>
{% endblock %}